:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}
body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif  ;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
.padd-15{
   padding-left: 15px;
   padding-right: 15px; 
}
.typing::after{
    content: "";
    animation: typing 5s
    steps(40,end);
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5px;
}
@keyframes typing{
    from{
        width: 0;

    }
    to{
        width: 100%;
    }
}


#myblogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    
}

.section .container{
    padding-top:60px ;
    padding-bottom: 70px;
    
}
#close{
    display: none;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 40px;
    color:var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2:before{
    content: '';
    height: 4px;
    width:50px;
    background: rgb(255, 0, 149);
    position: absolute;
    top:100%; 
    left:0;
}
.section-title h2:after{
    content: '';
    height: 4px;
    width:30px;
    background: rgb(255, 0, 149);
    position: absolute;
    top:100%; 
    left:0;
    margin-top: 8px;
    }
.row_blogs{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.row{
     display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

 ul{
     list-style: none;
 }
  .section{
    background: var(--bg-black-900);
    min-height: 100vh;
    padding: 0 30px;
    display: block;
    opacity: 1;
} 
.hidden{
    display: none !important;
}
.main-content{
    padding-left: 270px;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 30px;
    background: red;
    display: inline-block;
    white-space: nowrap;
    transition: all .5s ease;
    border: none;
}
.btn:hover{
    transform: scale(1.2);
}
/* ........aside.............. */
.aside{
    width: 270px;
    background:var(--bg-black-100) ;
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    z-index: 10 ;
    height: 100%;
    border-right: 1px solid var(--bg-black-100);
    display: flex; 
    flex-direction: column;
  
}
.aside .logo{
    position: relative;
    top: 0;
     font-size: 30px;
     text-transform: capitalize;
     display: inline-block;
}
.aside ,.logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    letter-spacing: 5px;
    font-size: 30px;
}
.aside .logo a span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
       
}
#toggle-btn{
    display: none;
}
.home-btn,.subscribe-btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 30px;
    background: red;
    display: inline-block;
    white-space: nowrap;
    transition: all .5s ease;
    border: none;
}
  
.aside .nav{
    margin-top: 50px;

}

.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-900);
    padding:5px 15px;
}
.aside .nav li a.active{
    color: rgb(255, 0, 0);
}
/* ================home========= */
.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home .home-info{
    flex:0 0 60%;
    max-width: 60%;
}
h3.hello{
    font-size:28px;
    margin: 15px 0;
}
h3.hello span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: red;
}
.h3my-profession{
    font-size:30px;
    margin: 15px 0;
}
.typing{
    color: red;

}
.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}
.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;

}

.home .home-img img{
    height: 300px;
    width: 400px;
    text-align: center;
    position: relative;
    border-radius: 60%;
}
/* .....about..... */
.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text{
flex: 0 0 100%;
max-width: 100%;
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .about-text h3 span{
    color: red;
}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 20px;
    color: var(--text-black-700);

}
.about .about-content .personal-info{
    flex: 0 0 50%;
    max-width: 50%;
   margin-top: 40px;
}
.about .about-content .personal-info .info-item{
    flex: 0 0 50%;
    max-width: 5 0%;

}
.about .about-content .personal-info p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info p span{
    font-weight: 600;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .personal-info .buttons{
margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn{
     margin-right: 15px;
     margin-top: 10px;
}
.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
   margin-top: 40px;
}


.about .about-content .skills .skill-item{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
}
.about .about-content .skills .skill-item h5{
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;  
  color: var(--text-black-900);
  text-transform: capitalize;
} 
.about .about-content .skills .skill-item .progress{
 background-color: var(--bg-black-50);
 height: 7px;
 border-radius: 4px;
 width: 100%;
 position: relative;
}
.about .about-content .skills .skill-item .progress .progress-in{
   position: absolute;
   border-radius: 4px;
   left: 0;
   top: 0;
   height: 100%;
   background-color: red; 
}
.about .about-content .skills .skill-item .skill-percent{
position: absolute;
color: var(--text-black-900);
top: -40px;
font-weight:600;
right: 0;
line-height: 40px;
}
.blog {
            
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    background-color:rgb(189, 181, 181);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 6px 6px rgb(225, 219, 219);
  }
.service .service-item .service-item-inner{
background-color: var(--bg-black-100);
border: 1px solid var(--bg-black-50);
border-radius: 20px;

text-align: center;
}
.service .service-item .service-item-inner img{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    margin-top: 10px;
    text-align: center;
    }
.service .service-item .service-item-inner:hover{
box-shadow:0 0 20px solid rgb(37, 34, 34,.2s);
}
/* ......contact.... */
.contact-title{
    color: red;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact-info-item{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
}
.contact .contact-info-item .icons{
    display: inline-block;
}

.contact .contact-info-item .icons .fa{
    font-size: 25px;
    color: red;
}
.contact .contact-info-item h4{
font-size: 18px;
font-weight: 700;
color: var(--text-black-900);
margin: 15px 0 5px;
}
.contact .contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}



/* new form */
.form-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 30px;
border: 1px solid lightgray;
box-shadow: 0.5rem 0.5rem 0.5rem rgb(223, 217, 217);
}
.form-container input{
    padding: 8px;
    margin-bottom: 5px;
    width: 90%;
    font-size: 16px;
    text-indent: 18px;
}

.icon-icon{
    font-size: 20px;
}
.remember-forget{
    display: flex;
    flex-direction: row;
   font-size: 10px;
}
.remember-forget input{
    margin-bottom: 5px;
    width: 10%;
}
#forget-password{
    margin-left: 10px;
}
.login-button{
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 10px 10px;
}
#signInBtn{
     padding: 10px;
     background-color: red;
     color: white;
     font-weight: bold;
     border: none;
     border-radius: 7px;
     width: 50%;
     transition: 0.2s;
     font-size: 18px;
}
#signUpBtn{
    padding: 10px;
    background-color: var(--text-black-900);
    color:var(--bg-black-900);
    font-weight: bold;
    border: none;
    border-radius: 7px;
    width: 50%;
    transition: 0.2s;
    font-size: 18px;
    margin-left: 30px;

}
#signInBtn:hover{
    transform: translateY(-0.1rem);
    background-color: rgb(236, 77, 77);
}
#signUpBtn:hover{
   
    transform: translateY(-0.1rem);
    background-color: rgb(236, 77, 77);
}
.btn3{
   background-color: #2482ca;
}
.btn3:hover{
    transform: scale(1.2);
}

/* ================form========================== */
#emailerror,#psswd_error,#emailerror1,#psswd_error1{
    color: red;
    font-size: 8px;
}

.passworderror, .passworderror1{
    width: 200px;
    box-shadow: 0 0.5rem  0.5rem rgb(247, 243, 243) ;
  
    padding: 8px;
    z-index: 2;
}
.emailerror{
font-size:10px ;
}


 footer{
    align-items: center;
    text-align: center;
    justify-content: center;
 }

 /* =============responsiveness=============== */

@media (max-width:1199px) {
    #nav-links{
        margin-left: -270px;
        /* display: none; */
        margin-top: 0;
       
    }
    .main-content{
        padding-left: 0;
    }
.about .about-content .personal-info .info-item p span{
    display: block;
    margin-left: 0;
}
.row_blogs{
    display: grid;
    grid-template-columns:auto auto;
    /* gap: 10px; */
}
.service-item-inner img{
    width: 100%;
}
#close{
    display: block;
}

 .nav-toggler{
    display: none;
    position: relative;
    margin-left: 270px;
    background-color: #2482ca;
 }
 .active{
    display: block;
 }
 
@media (max-width:600px) {
    #myblogs{
    display: block;
    
}
#myblogs img{
width: 100%;
}
  

 #toggle-btn{
    display: flex;
    color: red;
    position: absolute;
    z-index: 100;
    box-shadow: 0 10px 8px transparent;
    background-color: #e8dfec;
    padding: 8px 8px;
    margin-top: 20px;
    flex-direction: column;
    align-items: center; 
     justify-content: center;
    font-size: 40px;
}


}
@media (max-width:991px){
    .service .service-item,.contact .contact-info-item{
        flex: 0 0 50%;
        /* max-width:  50%; */
    }
    .home .home-info{
        flex: 0 0 100%;
        max-width:  100%;

    }
    
   
     .nav-toggler{
        display: flex;
        position: relative;
     }
     #nav-links{
        display: none;
        background-color: #aaaeab;
        color: rgb(241, 231, 231);
        position: fixed;
        top: 0;
        left: 270px;
        padding: 20px 25px;
        z-index: 1;
     }
    
     #toggle-btn{
        display: flex;
        color: red;
        position: fixed;
        z-index: 1;
        left: 80%;
        top: 0;
        box-shadow: 0 10px 8px transparent;
        background-color: #e8dfec;
        padding: 8px 8px;
        margin-top: 20px;
        flex-direction: column;
        align-items: right; 
         justify-content: center;
        font-size: 30px;
    }
    .home .home-img{
        display: none;
    }
    .active{
        display: block;
     }
}
@media (max-width:767px){
    .about .about-content .skills{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .service .service-item,
    .contact .contact-info-item,
    .about .about-content .personal-info{
    flex: 0 0 100%;
    max-width: 100%;
    }
    #close{
        display: block;
    }
    .active{
        display: block;
     }
    
}
@media only screen and (max-width: 768px) {
    .nav-toggler {
      display: none; 
    }
    #close{
        display: block;
    }

    .logo {
      display: none; 
    }
    .active{
        display: block;
     }
    
  }
  @media only screen and (max-width: 768px) {
    .row_blogs{
        display: block;
        text-align: justify;
        column-gap: 20px;
    }
    .active{
        display: block;
     }
  }

}
.blog img{
    width: 100%;
}